.header {
  background: var(--background1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: var(--max-width);
  padding: 2rem var(--margin1);
  margin: 0 auto;
}

.logo {
  font-size: 1.7rem;
  transition: all 0.4s;
}

@media (hover: hover) {
  .logo:hover {
    color: var(--selection-color);
  }
}

.items {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.items li {
  transition: all 0.4s;
}

@media (hover: hover) {
  .items li:hover {
    color: var(--selection-color);
  }
}
