.container {
  /* border-top: 1px solid var(--selection-color); */
  padding: 6em 3.2em;
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;
  background: var(--background1);
  text-align: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: var(--shadow1);
}

.image {
  border-radius: 40%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  display: block;
  margin-bottom: 1em;
  box-shadow: var(--shadow1);
}

.heading {
  font-size: 2.2em;
}

.paragraph {
  font-size: 1.3em;
  color: var(--foreground2);
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 0.8em;
  }
  .image {
    width: 170px;
    height: 170px;
  }
}
