.formContainer {
  max-width: var(--max-width);
  padding: 0 var(--margin1);
  margin: 0 auto;
  margin-top: 3rem;
}

.formContainer h1 {
  margin-bottom: 1.4rem;
  /* font-size: 2rem; */
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: var(--max-width2);
}

.formContainer label {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.formContainer h3 {
  font-weight: 500;
  color: var(--foreground2);
}

.formContainer input,
.formContainer textarea {
  font-size: 1.2rem;
  color: var(--foreground1);
  background: transparent;
  /* background: var(--background1); */
  border-radius: 3px;
  border: none;
  outline: none;
  border: 1px solid var(--background1);
  font-family: inherit;
}

.formContainer input:disabled,
.formContainer textarea:disabled {
  color: var(--background1);
}

.formContainer input:focus,
.formContainer textarea:focus {
  /* background: var(--background1); */
  border: 1px solid var(--foreground2);
}

.formContainer input {
  padding: 10px 1rem;
}

.formContainer textarea {
  padding: 1rem;
  resize: none;
}

.formContainer button {
  cursor: pointer;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  background: var(--background1);
  color: var(--foreground1);
  border: none;
  border-radius: 3px;
}

.formContainer button:disabled {
  opacity: 0.5;
}
