.container {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--background1);
  box-shadow: var(--shadow1);
}

@media (hover: hover) {
  .container:hover img {
    scale: 1.1;
    opacity: 0.9;
  }
}

.image {
  display: flex;
  align-items: center;
  aspect-ratio: 1.5;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  transition: all 3s;
}

.content {
  padding: 1.7rem;
}

.content h3 {
  font-size: 1.55rem;
  font-weight: 600;
  line-height: 2rem;
}

.content time {
  color: var(--foreground3);
  margin-bottom: 8px;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 300;
}

.content p {
  color: var(--foreground2);
  font-size: 0.9em;
}
